:root{
    --main-bg-color:#f5f3f2
    
}

body{
    
    background-color: var(--main-bg-color, lightgrey);
    
    --section-bg-color: rgb(150, 213, 247);
    --section-header-text-color: hsl(228, 51%, 40%);
    --footer-text-color: hsl(228, 51%, 40%); 
    margin: 1%; 

}

header{
    --accent-bg-color: hsl(228, 51%, 40%);
    --header-text-color: #f91020;  
    background-color: var(--accent-bg-color, darkblue);
    height: 60mm; 
    margin-left: 1em;
    margin-right: auto; 
    margin-top: 1%; 
    margin-bottom: 1%;  

    padding-left: 1em; 
    padding-right: 1em; 
    padding-top: 0%; 
    padding-bottom: 20%; 
    border-width: 1em; 
    border-color: var(--section-bg-color); 
    border-style: solid; 
    border-radius: 2em;  

    text-decoration: underline var(--section-bg-color) solid 1px  ;

}

#subtitle{
    color: var(--header-text-color); 
}

h1{

    font-size: 10vmin; 
    color: var(--header-text-color);
}

h2{
    text-align: center;
    color: var(--section-header-text-color); 
}

h3{color: var(--header-text-color)}
nav {
    padding: 2%; 
    
    background-color: color-mix(in oklab, var (--main-bg-color) 50%, var (--section-bg-color));
}

section{
    background-color: var(--section-bg-color, aliceblue);
    --section-accent-color: #f39bc4; 
    border: 2px dashed var(--section-accent-color);
    margin-bottom: 1em;

     

}

p{
    margin:auto; 

}
.short-p{
  
    text-align: center;
    padding-bottom: 5em;
}
hr{
    border: 0.109in solid var(--section-bg-color, aliceblue)
}

.media{ 
    background-color: var(--main-bg-color, lightgrey); 
}

video {
    height:500px;
}

img{
    width: 50%; 
}

footer{
    
    background-color: color(display-p3 1 0.98 0.3);
    color: var(--footer-text-color);
    height: 50%; 
}

form{
    color: var(--footer-text-color)
}

#new-biz-heading{
    height: 2em; 
    
}
